<section ng-controller="aboutController" > 
	<div class="row">
		<div class="col-sm-12">
      <img alt="MEAN.JS" class="" src="modules/core/client/img/loaders/teach.jpg" height="300"
      width="1150" />
    </div>
		<h3>About TUTORTOWN ...</h3>
		<div>
		  <i class = "glyphicon glyphicon-paperclip"></i>
		  Connecting Students and Tutors in particular area
	    </div>
	    <h4>Our goal is to conveniently help match tutors with students...</h4>
		<p>TUTORTOWN can also help facilitate distance learning by helping home schooled children find appropriate tutors in the subject they need help in. Many home schooled students do not live near major cities and need the help of a tutor via email or the internet.

        TUTORTOWN offers rewarding marketing opportunities. The site's exploding popularity makes it an excellent advertising site for educational products and services of all types. <a href="authentication/signin">Join us</a> in the evolution of education. Join <a href="/">TUTORTOWN</a> explore your teaching skills.</p>
	</div>

	<br>
	<br>
	<br>
	<br>
      <div class="footer"><footer>
    <div class ="row back-image">
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="aboutus">About RECURITIT</a>

      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="contactus">Contact us</a>

      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="articles">Find a Candidate</a>(registered with RECURITIT)

      </div>


    </div>

    <div class ="row back-image">
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="authentication/signin">Become a Recuriter</a>
        

      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="team">Team</a>

      </div>
      <br>
      <br>
    </div>




  </footer></div>
	  
</section>