<section ng-controller="ContactController" > 
	<div class="row col-sm-12">
		<h1 class = "text-center">Contact Us</h1>
		<HR>
	</div>

	<br>
	<div class="row">
		<div class="col-sm-6 ">
			<div  class="col-sm-3 text-center"><img alt="MEAN.JS" class="" src="modules/core/client/img/brand/favicon.ico" height="130"/></div><br>
			<div  class="col-sm-9 "><h3 class="col-xs-12 text-center">Get In Touch With Us</h3></div>
		</div>
		<div class="col-sm-6 co-xs-12">
			<div class = " text-center ">
			<div class="row text-center"><h4><i class="glyphicon glyphicon-hand-right "> Web Designing</i></h4></div>
			<div class="row text-center"><h4><i class="glyphicon glyphicon-hand-right "> Web Development</i></h4></div></div>
		</div>
	</div>

	<br>
	<br>
	<HR>
		<br>
		<br>

	<div class="row">
		<div class="col-sm-5">
			<div class= "col-sm-6 col-xs-6">
				<div class="row"><h3>Siddharth sharma</h3></div>
				<div class="row"><h5>B130010174</h5></div>
				<div class="row"><h5>+91-9023428135</h5></div>

			</div>
			<div class= "col-sm-6 col-xs-6 pull-right">
				<div class="row"><h3>Vasu sharma</h3></div>
				<div class="row"><h5>B130010094</h5></div>
				<div class="row"><h5>+91-9888008746</h5></div>

			</div>

		</div>
		
			
<br><br>
		
		<div class="col-sm-7 col-xs-12 verticalLine">
<br>
<br>
                <div class="row"><h5> &nbsp; &nbsp;&nbsp; #H.no.2424, sector-20-c,Chandigarh,</h5></div>
				<div class="row"><h5>  &nbsp;&nbsp;&nbsp;email-ss42279@gmail.com, vasusharmak28@gmail.com</h5></div>
				<div class="row"><h5>  &nbsp;&nbsp;&nbsp;Go to.. <a href="/">&nbsp;&nbsp;TUTORTOWN</a> </h5></div>


		</div>
	</div>
	<HR>

	  <footer>
    <div class ="row back-image">
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="aboutus">About RECURITIT</a>

      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
       <a href="contactus">Contact us</a>

      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="articles">Find a Candidate</a>(registered with RECURITIT)

      </div>


    </div>

    <div class ="row back-image">
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="authentication/signin">Become a Recuriter</a>
        

      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="team">Team</a>

      </div>
      <br>
      <br>
    </div>




  </footer>



</secton>