<section ng-controller="HomeController" >
<div ng-app >
<div ng-controller="MainController" class="" ng-switch='slideshow' ng-animate="'animate'">
  
  
  <div class="col-sm-12 col-xs-12" ng-switch-when='1'>
          <img alt="MEAN.JS" class="" src="modules/core/client/img/loaders/slide2.jpg" height="350"
      width="1150" /></div>
        <div class="" ng-switch-when='2'>
           <img alt="MEAN.JS" class="" src="modules/core/client/img/loaders/slipe1.jpg" height="350"
      width="1150" /></div>
        <div class="" ng-switch-when='3'>
           <img alt="MEAN.JS" class="" src="modules/core/client/img/loaders/slide3.jpg" height="350"
      width="1150" /></div>
        <div class="slider-buttons">
          <a ng-click='slideshow = 1'>
            <div class="circle"></div>
          </a>
          <a ng-click='slideshow = 2'>
            <div class="circle"></div>
          </a>
          <a ng-click='slideshow = 3'>
            <div class="circle"></div>
          </a>
        </div>
</div>
  </div>









 <!--   <div class="row ">
    <div class="col-sm-12">
      <img alt="MEAN.JS" class="" src="modules/core/client/img/brand/photo.jpg" height="350"
      width="1150" />
    </div>
    
  </div> 
 -->

<HR>

  <div class="row back-image">
    <div class="col-sm-6  ">

      <div class="row" >
        <h1>How does it work for Recruiters?.....</h1>
      </div>
      <div class="row">
        <p>Recruiters or various members of company simply search for candidates or browse to find a candidates appeared in the interviews. Once a Recruiters login with the particulars, He or She can start filling form regarding candidate information and their refferals.

        Recuriter required to fill all the relevant information regarding interviewed candidate like edcation information, their referrals, skills, purpose of interview i.e technical or human resources......
      </p>
        
      </div>
      
    </div>
    
    <div class="col-sm-6">

      <div class="row">
        <h1>How does it work for Company?.....</h1>
      </div>
      <div class="row">
        <p>
        Any company officials can create their own personalized profile in which he or she can see the activity of their recuritment staff and about various interview conducted by their pannel members.Officials can search for the profile and interview conducted by their HR staff and all the panel members.

        recuriters able to fill all the details like education, experience,  skillset, job description.....
      </p>
      </div>
      
    </div>
  </div>
  <hr>

    <div class="row">
      <div class="col-sm-8 back-image col-xs-12" >
        <div class="row">
        <h1>How do Recruitit benifits Recruiters?.....</h1>
      </div>
      <div class="row">
        <p>
        This is entirely up to the Recruiters and their interviewed cnadidates. Recruitement options include face to face meetings or individualized instruction through online tools such as messaging or email.
        Recruiters specifiy in their profile what kind of job they offers, This "GOGREEN" approach over the cloud will reduce paper work that is used by the recruiters earlier......
              </p>
      </div>

      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="col-sm-12"><img alt="MEAN.JS" class="" src="modules/core/client/img/loaders/gogreen.jpg" width="440" height="250"/>

      </div>


    </div>


    




  </div>
  <HR>


  <div class="row">
      <div class="col-sm-8 back-image col-xs-12" >
        <div class="row">
        <h1>What we provide you?.....</h1>
      </div>
      <div class="row">
        <p>
        In this web portal Recruiters simply choose the profile of interviewed candidates.
        This portal is only for recuriters of particular company. one can register themselves as Recruiter in which you can manage the details of the candidates and their status of being selected.......
      </p>
      </div>

      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="row">
         <h4> Recruiters can easily find details of candidates interviewed by them and information about panel members and the referrals of candidates and all the necessary information about candidate.......</h4>
        </div>
        <div class="col-sm-6"><img alt="MEAN.JS" class="" src="modules/core/client/img/loaders/logo.PNG" width="80%" height=""/></div>
         <div class="col-sm-6">
          <div><i class="glyphicon glyphicon-minus "></i>Job profile</div>
          <div><i class="glyphicon glyphicon-minus "></i>Position offered</div>
          <div><i class="glyphicon glyphicon-minus "></i>Candidate education </div>
          <div><i class="glyphicon glyphicon-minus "></i>Reffrals of candidate</div>
          <div><i class="glyphicon glyphicon-minus "></i>Pannel members</div>
          <div><i class="glyphicon glyphicon-minus "></i>interview information</div>
         </div>


      </div>


    </div>


    




  </div>
  <br>



<br>


  <hr size="100">





  <footer>
    <div class ="row back-image">
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="aboutus">About RECRUITIT</a>

      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
       <a href="contactus">Contact us</a>

      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="articles">Find a Candidate</a>(registered with RECRUTIT)

      </div>


    </div>

    <div class ="row back-image">
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="authentication/signin">Become a recruiter</a>
        

      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="team">Team</a>

      </div>
      <br>
      <br>
    </div>




  </footer>
<br>
<br> 











</section>
