<section ng-controller="teamController" > 
	<br>
	<div class="row back-image text center">
		<div class=" text-center">
			<hr>
			<i class= "glyphicon glyphicon-user cust-pr  text-success text-center"></i>
			<h2>Siddharth sharma</h2>
			<h4>B130010174 (B.E CSE) </h4>
			<h3>skills - Html, C, C++, Angularjs, javascript, Mongodb</h3>
			<h3>email - ss42279@gmail.com </h3>
			<h3>
				<a href="http://www.facebook.com/ss42279" ><image src="modules/core/client/img/loaders/fb.jpg"  width="15" height="15"> </a>&nbsp;

                <a href="http://plus.google.com/u/0/+SiddharthSharmass42279" >  <image src="modules/core/client/img/loaders/google.jpg" width="60" height="15"></a>&nbsp;

                <a href="http://ask.fm/SiddharthSharma169" target="_blank"><image src="modules/core/client/img/loaders/ask.jpg" width="25" height="15"></a></h3>
		</div>
		<hr>
	</div>

<br>
<hr>
	<footer>
    <div class ="row back-image">
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="aboutus">About RECURITIT</a>

      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
       <a href="contactus">Contact us</a>

      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="articles">Find a Candidate</a>(registered with RECURITIT)

      </div>


    </div>

    <div class ="row back-image">
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="authentication/signin">Become a Recuriter</a>
        

      </div>
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-option-vertical"></i>
        <a href="team">Team</a>

      </div>
      <br>
      <br>
    </div>




  </footer>
</secton>