<div class="list-group bg">
    <div class = " col-xs-6 col-sm-4 extra-space" ng-repeat="article in articlesCtrl.articles |filter:searchText" >
      <a  ng-click="articlesCtrl.modalUpdate('lg', article)" class="list-group-item">
        <h4 class = "cust-list text-center">
          <i class ="glyphicon glyphicon-user " ng-class ="{'text-primary':article.reffered , 'text-danger':!article.reffered}"></i></h4>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
        <h4>{{article.firstName}} {{article.lastName}}</h4>
        <small class="list-group-item-text text-muted">
          <span ng-bind="article.created | date:'mediumDate'"></span>

          <span class="pull-right">
            <button class ="btn btn-default" ng-click="articlesCtrl.remove(article)">
              <i class="glyphicon glyphicon-trash"></i>


            </button>

          </span>


        </small>
        </div>
        </div>
      </a>

    </div>



  <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
    No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
  </div>