<section ng-controller="ArticlesCreateController as articleCtrl">
  <div class="modal-header">
            <h3 class="modal-title">NEW CANDIDATE</h3>
        </div>

        <div class="modal-body">
          <div class="col-md-12">
            <form name="createProfile" >
              <fieldset>









<div class ="row">
  <h1>JOB PROFILE</h1>
</div>         
        <div class="row">
          <div class="col-sm-6 text-center">
            <i class="glyphicon glyphicon-dashboard cust-profile" ng-class="{'text-primary': articleCtrl.select, 'text-danger':!articleCtrl.select}"></i>

          </div>
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label for="jobtitle">TITLE OF JOB</label>
              <input name="jobtitle" type="text" ng-model="articleCtrl.jobtitle" id="jobtitle" class="form-control"  ng-required="required">
          
            </div> 

            <div class="form-group" show-errors>
              <label for="locat">LOCATION</label>
              <input name="locat" type="text" ng-model="articleCtrl.locat" id="locat" class="form-control"  ng-required="required">
          
            </div> 

            <div class="form-group" show-errors>
              <label for="salary">SALARY</label>
              <input name="salary" type="text" ng-model="articleCtrl.salary" id="salary" class="form-control"  ng-required="required">
          
            </div> 

          </div>

        </div>







        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label for="contract">CONTRACT(IF ANY)</label>
              <input name="contract" type="text" ng-model="articleCtrl.contract" id="contract" class="form-control"  ng-required="required">
          
            </div>

            <div class="form-group" show-errors>
              <label for="companybackground">COMPANY BACKGROUND</label>
              <input name="companybackground" type="text" ng-model="articleCtrl.companybackground" id="companybackground" class="form-control"  ng-required="required">
          
            </div>  

          </div>
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label for="role">JOB ROLE</label>
              <input name="role" type="text" ng-model="articleCtrl.role" id="role" class="form-control"  ng-required="required">
          
            </div> 
          </div>

        </div>
<hr>



<br>
<br>
<br>

<div class ="row">
  <h1>CANDIDATE INFORMATION</h1>
</div>



        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label for="fname">FIRST NAME</label>
              <input name="fname" type="text" ng-model="articleCtrl.fname" id="fname" class="form-control"  ng-required="required">
          
            </div> 

            <div class="form-group" show-errors>
              <label for="lname">LAST NAME</label>
              <input name="lname" type="text" ng-model="articleCtrl.lname" id="lname" class="form-control"  ng-required="required">
          
            </div> 

            <div class="form-group" show-errors>
              <label for="gender">GENDER</label>
              <input name="gender" type="text" ng-model="articleCtrl.gender" id="gender" class="form-control"  ng-required="required">
          
            </div> 

            <div class="form-group" show-errors>
              <label for="age">AGE</label>
              <input name="age" type="text" ng-model="articleCtrl.age" id="age" class="form-control"  ng-required="required">
          
            </div> 

            <div class="form-group" show-errors>
              <label for="email">EMAIL</label>
              <input name="email" type="text" ng-model="articleCtrl.email" id="email" class="form-control"  ng-required="required">
          
            </div> 
          </div>
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label for="postalcode">POSTALCODE</label>
              <input name="postalcode" type="text" ng-model="articleCtrl.postalcode" id="postalcode" class="form-control"  ng-required="required">
          
            </div> 
            <div class="form-group" show-errors>
              <label for="address">ADDRESS</label>
              <input name="address" type="text" ng-model="articleCtrl.address" id="address" class="form-control"  ng-required="required">
          
            </div> 
            <div class="form-group" show-errors>
              <label for="mnumber">MOBILE NUMBER</label>
              <input name="mnumber" type="text" ng-model="articleCtrl.mnumber" id="mnumber" class="form-control"  ng-required="required">
          
            </div> 
            <div class="form-group" show-errors>
              <label for="tnumber">TELEPHONE / LANDLINE NUMBER</label>
              <input name="tnumber" type="text" ng-model="articleCtrl.tnumber" id="tnumber" class="form-control"  ng-required="required">
          
            </div> 
          </div>

        </div>
        <hr>
<br>
<br>
<br>
<div class= "row">
  <h1>REFERAL</h1>

</div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label for="reffname">REF-FIRSTNAME</label>
              <input name="reffname" type="text" ng-model="articleCtrl.reffname" id="reffname" class="form-control"  ng-required="required">
          
            </div>

            <div class="form-group" show-errors>
              <label for="reflname">REF-LASTNAME</label>
              <input name="reflname" type="text" ng-model="articleCtrl.reflname" id="reflname" class="form-control"  ng-required="required">
          
            </div>

            <div class="form-group" show-errors>
              <label for="refcompany">REF-COMPANY</label>
              <input name="refcompany" type="text" ng-model="articleCtrl.refcompany" id="refcompany" class="form-control"  ng-required="required">
          
            </div>

            <div class="form-group" show-errors>
              <label for="refdesignation">REF-DESIGNATION</label>
              <input name="refdesignation" type="text" ng-model="articleCtrl.refdesignation" id="refdesignation" class="form-control"  ng-required="required">
          
            </div>

          </div>




          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label for="reftnumber">REF-TELEPHONE / LANDLINE NUMBER</label>
              <input name="reftnumber" type="text" ng-model="articleCtrl.reftnumber" id="reftnumber" class="form-control"  ng-required="required">
          
            </div>

            <div class="form-group" show-errors>
              <label for="refrelation">REF-RELATION WITH CANDIDATE</label>
              <input name="refrelation" type="text" ng-model="articleCtrl.refrelation" id="refrelation" class="form-control"  ng-required="required">
          
            </div>
            <div class="form-group" show-errors>
              <label for="refemail">REF-EMAIL</label>
              <input name="refemail" type="text" ng-model="articleCtrl.refemail" id="refemail" class="form-control"  ng-required="required">
          
            </div>
            <div class="form-group" show-errors>
              <label for="refaddress">REF ADDRESS</label>
              <input name="refaddress" type="text" ng-model="articleCtrl.refaddress" id="refaddress" class="form-control"  ng-required="required">
          
            </div>




          </div>

        </div>
<hr>

<br>
<br>
<br>
<div class ="row">
  <h1>RECORD OF INTERVIEW</h1>
</div>  


        <div class="row">
          <div class="col-sm-6 text-center">
            <i class="glyphicon glyphicon-th-list cust-profile"></i>
          </div>

          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label for="position">POSITION</label>
              <input name="position" type="text" ng-model="articleCtrl.position" id="position" class="form-control"  ng-required="required">
          
            </div> 

            <div class="form-group" show-errors>
              <label for="created">DATE</label>
              <input name="created" type="text" ng-model="articleCtrl.created" id="created" class="form-control"  ng-required="required">
          
            </div> 

            <div class="form-group" show-errors>
              <label for="stime">START TIME OF INTERVIEW</label>
              <input name="stime" type="text" ng-model="articleCtrl.stime" id="stime" class="form-control"  ng-required="required">
          
            </div> 
            <div class="form-group" show-errors>
              <label for="ftime">FINISH TIME OF INTERVIEW</label>
              <input name="ftime" type="text" ng-model="articleCtrl.ftime" id="ftime" class="form-control"  ng-required="required">
          
            </div> 

            <div class="form-group" show-errors>
              <label for="singleSelect"> RATING SCALE FOR CANDIDATE </label><br>
              <select name="singleSelect" ng-model="articleCtrl.ratingscale" >
                <option value="Below Average">Below Average...</option>
                <option value="Average">Average...</option>
                <option value="Above Average">Above Average...</option>
                <option value="Good">Good...</option>
                <option value="Excelent">Excelent...</option>
              </select>    
                

            </div> 
          </div>



        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label for="natureofinterview">NATURE OF INTERVIEW</label>
              <input name="natureofinterview" type="text" ng-model="articleCtrl.natureofinterview" id="natureofinterview" class="form-control"  ng-required="required">
          
            </div>

            

          </div>
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label for="select">FINAL SELECTION</label>
              <input name="select" type="checkbox" ng-model="articleCtrl.select" id="select" class="form-control check-box"  ng-required="required">
          
            </div>
          </div>

        </div>
<hr>
<br>
<br>
<br>
<div class ="row">
  <h1>INTERVIEWER</h1>
</div> 
        <div class="row">
          <div class="col-sm-6 text-center">
            <i class="glyphicon glyphicon-user cust-profile"></i>
          </div>
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label for="pfname">FIRST NAME</label>
              <input name="pfname" type="text" ng-model="articleCtrl.pfname" id="pfname" class="form-control"  required>
          
            </div> 

            <div class="form-group" show-errors>
              <label for="plname">LAST NAME</label>
              <input name="plname" type="text" ng-model="articleCtrl.plname" id="plname" class="form-control"  ng-required="required">
          
            </div> 

            <div class="form-group" show-errors>
              <label for="pdesignation">DESIGNATION IN COMPANY</label>
              <input name="pdesignation" type="text" ng-model="articleCtrl.pdesignation" id="pdesignation" class="form-control"  ng-required="required">
          
            </div> 
            <div class="form-group" show-errors>
              <label for="pdepartment">DEPARTMENT</label>
              <input name="pdepartment" type="text" ng-model="articleCtrl.pdepartment" id="pdepartment" class="form-control"  ng-required="required">
          
            </div>
          </div>
        </div>

<br>
        
      





        
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
</fieldset>
            </form>
          </div>

    
            
        </div>
  
















        <div class="modal-footer">
            <button class="btn btn-success btn-lg" ng-click="articleCtrl.create(); ok()" ng-disabled="createProfile.$invalid" >Save & Close</button>
            <button class="btn btn-warning btn-lg" ng-click="cancel() ">Cancel</button>
        </div>




  
  
</section>
